body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:86px;
  width:720px;
  height:1094px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1094px;
}
#u1 {
  position:absolute;
  left:2px;
  top:539px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
}
#u3 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:92px;
  width:720px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u5 {
  position:absolute;
  left:19px;
  top:14px;
  width:69px;
  height:69px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u6 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:280px;
  top:22px;
  width:161px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:30px;
  top:565px;
  width:660px;
  height:96px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:96px;
}
#u10 {
  position:absolute;
  left:2px;
  top:40px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:125px;
  top:587px;
  width:479px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:52px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:120px;
  top:333px;
  width:481px;
  height:52px;
  font-size:40px;
  color:#339900;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:52px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:141px;
  top:405px;
  width:438px;
  height:110px;
  font-size:30px;
  color:#666666;
  text-align:center;
  line-height:55px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:110px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:306px;
  top:198px;
  width:107px;
  height:107px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:107px;
}
#u18 {
  position:absolute;
  left:2px;
  top:46px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:699px;
  width:660px;
  height:96px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:96px;
}
#u20 {
  position:absolute;
  left:2px;
  top:40px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:140px;
  top:721px;
  width:441px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:40px;
  color:#FF6600;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:52px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  white-space:nowrap;
}
