body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:96px;
  width:720px;
  height:1294px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1294px;
}
#u1 {
  position:absolute;
  left:2px;
  top:639px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
}
#u3 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:92px;
  width:720px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u5 {
  position:absolute;
  left:19px;
  top:14px;
  width:69px;
  height:69px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u6 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:240px;
  top:22px;
  width:241px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:52px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:0px;
  top:127px;
  width:720px;
  height:1208px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1208px;
}
#u10 {
  position:absolute;
  left:2px;
  top:596px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:21px;
  top:128px;
  width:669px;
  height:960px;
  line-height:96px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:960px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:0px;
  top:1335px;
  width:720px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u14 {
  position:absolute;
  left:578px;
  top:28px;
  width:123px;
  height:40px;
  font-size:30px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:122px;
  width:720px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u17 {
  position:absolute;
  left:0px;
  top:218px;
  width:720px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u18 {
  position:absolute;
  left:0px;
  top:314px;
  width:720px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u19 {
  position:absolute;
  left:0px;
  top:410px;
  width:720px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u20 {
  position:absolute;
  left:0px;
  top:506px;
  width:720px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u21 {
  position:absolute;
  left:0px;
  top:601px;
  width:720px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u22 {
  position:absolute;
  left:0px;
  top:697px;
  width:720px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u23 {
  position:absolute;
  left:0px;
  top:793px;
  width:720px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u24 {
  position:absolute;
  left:0px;
  top:889px;
  width:720px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u25 {
  position:absolute;
  left:0px;
  top:985px;
  width:720px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u26 {
  position:absolute;
  left:30px;
  top:1189px;
  width:660px;
  height:96px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:96px;
}
#u27 {
  position:absolute;
  left:2px;
  top:40px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:280px;
  top:1211px;
  width:161px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:40px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
