body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:92px;
  width:720px;
  height:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
}
#u3 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:92px;
  width:720px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u5 {
  position:absolute;
  left:19px;
  top:14px;
  width:69px;
  height:69px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u6 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:280px;
  top:22px;
  width:161px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:0px;
  top:131px;
  width:720px;
  height:659px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:659px;
}
#u10 {
  position:absolute;
  left:2px;
  top:322px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:27px;
  top:162px;
  width:673px;
  height:120px;
  text-align:center;
  line-height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:120px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:125px;
  width:720px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u14 {
  position:absolute;
  left:0px;
  top:292px;
  width:720px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u15 {
  position:absolute;
  left:27px;
  top:330px;
  width:653px;
  height:180px;
  font-family:'黑体 Regular', '黑体';
  font-size:36px;
  line-height:60px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:180px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  word-wrap:break-word;
}
