body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:92px;
  width:720px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
}
#u3 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:92px;
  width:720px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u5 {
  position:absolute;
  left:19px;
  top:14px;
  width:69px;
  height:69px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u6 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:280px;
  top:22px;
  width:161px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:0px;
  top:186px;
  width:720px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u10 {
  position:absolute;
  left:234px;
  top:120px;
  width:253px;
  height:46px;
  font-size:36px;
  color:#0094DE;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:46px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:36px;
  top:206px;
  width:183px;
  height:1018px;
  font-size:30px;
  line-height:85px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:1018px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:17px;
  top:232px;
  width:15px;
  height:40px;
  font-size:30px;
  color:#FF3300;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:40px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:17px;
  top:402px;
  width:15px;
  height:40px;
  font-size:30px;
  color:#FF3300;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:40px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:17px;
  top:574px;
  width:15px;
  height:40px;
  font-size:30px;
  color:#FF3300;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:40px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:17px;
  top:743px;
  width:15px;
  height:40px;
  font-size:30px;
  color:#FF3300;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:40px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:17px;
  top:830px;
  width:15px;
  height:40px;
  font-size:30px;
  color:#FF3300;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:40px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:17px;
  top:915px;
  width:15px;
  height:40px;
  font-size:30px;
  color:#FF3300;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:40px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:17px;
  top:1000px;
  width:15px;
  height:40px;
  font-size:30px;
  color:#FF3300;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:40px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:17px;
  top:1084px;
  width:15px;
  height:40px;
  font-size:30px;
  color:#FF3300;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:40px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:17px;
  top:1166px;
  width:15px;
  height:40px;
  font-size:30px;
  color:#FF3300;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:40px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:17px;
  top:1252px;
  width:15px;
  height:40px;
  font-size:30px;
  color:#FF3300;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:40px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:0px;
  top:287px;
  width:720px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u35 {
  position:absolute;
  left:0px;
  top:372px;
  width:720px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u36 {
  position:absolute;
  left:0px;
  top:457px;
  width:720px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u37 {
  position:absolute;
  left:0px;
  top:542px;
  width:720px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u38 {
  position:absolute;
  left:0px;
  top:627px;
  width:720px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u39 {
  position:absolute;
  left:0px;
  top:712px;
  width:720px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u40 {
  position:absolute;
  left:0px;
  top:797px;
  width:720px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u41 {
  position:absolute;
  left:0px;
  top:882px;
  width:720px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u42 {
  position:absolute;
  left:0px;
  top:967px;
  width:720px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u43 {
  position:absolute;
  left:0px;
  top:1052px;
  width:720px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u44 {
  position:absolute;
  left:0px;
  top:1137px;
  width:720px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u45 {
  position:absolute;
  left:0px;
  top:1222px;
  width:720px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u46 {
  position:absolute;
  left:615px;
  top:717px;
  width:75px;
  height:170px;
  font-size:30px;
  color:#666666;
  text-align:right;
  line-height:85px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:170px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  opacity:0.7;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u49 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:392px;
  width:720px;
  height:888px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:888px;
}
#u51 {
  position:absolute;
  left:2px;
  top:436px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:483px;
  width:720px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:4px;
  width:720px;
  height:2px;
}
#u53 {
  position:absolute;
  left:31px;
  top:416px;
  width:40px;
  height:40px;
  font-family:'方正细圆简体 Regular', '方正细圆简体';
  font-size:48px;
  color:#888888;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:324px;
  top:420px;
  width:73px;
  height:46px;
  font-size:36px;
  color:#0094DE;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:46px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:32px;
  top:569px;
  width:658px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:641px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:4px;
  width:658px;
  height:2px;
}
#u58 {
  position:absolute;
  left:32px;
  top:655px;
  width:658px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:641px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:4px;
  width:658px;
  height:2px;
}
#u59 {
  position:absolute;
  left:32px;
  top:739px;
  width:658px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:641px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:4px;
  width:658px;
  height:2px;
}
#u60 {
  position:absolute;
  left:32px;
  top:825px;
  width:658px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:641px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:4px;
  width:658px;
  height:2px;
}
#u61 {
  position:absolute;
  left:32px;
  top:909px;
  width:658px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:641px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:4px;
  width:658px;
  height:2px;
}
#u62 {
  position:absolute;
  left:32px;
  top:995px;
  width:658px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:641px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:4px;
  width:658px;
  height:2px;
}
#u63 {
  position:absolute;
  left:32px;
  top:1079px;
  width:658px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:641px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:4px;
  width:658px;
  height:2px;
}
#u64 {
  position:absolute;
  left:30px;
  top:1143px;
  width:660px;
  height:96px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:96px;
}
#u65 {
  position:absolute;
  left:2px;
  top:40px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:320px;
  top:1165px;
  width:81px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:40px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:52px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:32px;
  top:573px;
  width:658px;
  height:88px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:88px;
}
#u69 {
  position:absolute;
  left:2px;
  top:36px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:323px;
  top:489px;
  width:85px;
  height:594px;
  font-size:30px;
  text-align:center;
  line-height:85px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:594px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
